VITE_CLERK_PUBLISHABLE_KEY=pk_test_Zm9uZC10YXJwb24tNTguY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_9dHBGbfhrRBfYtGWpvQ2C4EZpPWTKS2vwtQ4zIhdqI
OPENAI_API_KEY=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
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT=chat-to-api
