APP_NAME=chat-to-api
DEBUG=false
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/chat_to_api
REDIS_URL=redis://localhost:6379/0
COHERE_API_KEY=
COHERE_MODEL=command
HCAPTCHA_SECRET=
CLERK_SECRET_KEY=sk_test_9dHBGbfhrRBfYtGWpvQ2C4EZpPWTKS2vwtQ4zIhdqI
